---
---

@charset "utf-8";

/* type scale */
$hero-type-size: 2.441em !default; // ~50px

$type-size-1: 2.441em !default; // ~39.056px
$type-size-2: 1.953em !default; // ~31.248px
$type-size-3: 1.563em !default; // ~25.008px
$type-size-4: 1.25em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.75em !default; // ~12px
$type-size-7: 0.6875em !default; // ~11px
$type-size-8: 0.625em !default; // ~10px

/* colors */
$head-primary: #91CDF6 ;
$head-secondary: #48acf0 ;
$theme-primary: #006600 ;
$theme-secondary: #005200 ;
$theme-dark: #413c58;

$overview-box1: #009FB7ee;
$overview-box2: #248232ee;
$overview-box3: #C73E1Dee;
$overview-box4: #fe9000ee;
$overview-box5: #4e8098ee;
$overview-box6: #A03E99ee;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base"
;
