<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="header-content">
                    <div class="header-content-inner col-sm-10">
                        <img class="img-responsive" src="/img/logo/solidground-logo-optimized.svg"/>
                        <h1>Social Experience Design for the Fediverse</h1>
                        <p>Social networking revolves around people and their meaningful interactions online. Solidground eases solution design of rich social experiences for the Fediverse. 
                          <b>This project is in early stages of development.</b></p>
                        <a href="#fediverse" class="btn btn-outline btn-xl page-scroll" style="margin-top: 30px;">Help Reimagine Social</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</header>
