  <section id="join" class="cta">
    <div class="cta-content">
        <div class="container">
          <div class="col-sm-4">
            <p>
              <h2>Delve Into The Docs</h2>
              <a href="https://docs.solidground.work" class="btn btn-outline btn-xl">Documentation</a>
            </p>
            <p style="padding-top: 10px;">
              <h3><a style="margin-left: 5px" href="https://discuss.coding.social/c/solidground/13"><img src="/img/social/discourse.svg" width="32" height="32" alt="Discourse forum"/>&nbsp;&nbsp; Discuss on our Forum</a></h3>
              <h3><a style="margin-left: 5px" href="https://matrix.to/#/#solidground-matters:matrix.org"><img src="/img/social/matrix.svg" width="32" height="32" alt="Matrix chat"/>&nbsp;&nbsp; chat in our Rooms</a></h3>
              <h3><a style="margin-left: 5px" href="https://codeberg.org/solidground"><img src="/img/social/codeberg.svg" width="32" height="32" alt="Codeberg"/>&nbsp;&nbsp; or just go to the Code</a></h3>
            </p>
          </div>
          <div class="col-sm-8 text-center">
            <div class="row">
              <div class="col-md-6">
                  <div class="feature-item">
                    <h1 style="color:#f90;">We love Designers</h1>
                    <p class="text-muted">Collect feedback, elicit requirements. Design our own experience, optimize our flow.</p>
                    <img src="/img/artwork/product_manager.svg"/>
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="feature-item">
                    <h1 style="color:#069;">We need Coders</h1>
                    <p class="text-muted">Ponder our architecture. Hack in the codebase. Test and automate our build.</p>
                    <img src="/img/artwork/web_developer.svg"/>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
