  <section id="platform" class="highlights">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Launch On Groundwork Integration Platform</h2>
            <h3 class="text-muted">A federated server to provision and host your interoperable building blocks.</h3>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="container-fluid text-center">
            <img src="/img/groundwork-service-platform-concept-detailed_optimized.svg" style="padding:40px 0px;" width="90%"/>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="feature-item">
                              <h3 style="color:#f90;">Present</h3>
                              <p class="text-muted">A growing collection of presentation components helps support your designs.</p>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="feature-item">
                              <h3 style="color:#060;">Meaningful</h3>
                              <p class="text-muted">Your domain designs are packaged as services that you can manage at runtime.</p>
                          </div>
                      </div>
                      <div class="col-md-4">
                        <div class="feature-item">
                            <h3 style="color:#069;">Information</h3>
                            <p class="text-muted">Get easy access to data without concerns of storage location and federation support.</p>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <a target="_blank" href="https://docs.solidground.work/groundwork/platform" style="margin-bottom: 50px;" class="btn btn-outline btn-xl">About Groundwork</a>
        </div>
    </div>
  </section>
