
    <section id="positioning" class="highlights">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="container-fluid">
                      <div class="row">
                          <div class="col-md-4">
                              <div class="feature-item">
                                  <h3 style="color:#555;">Creation</h3>
                                  <p class="text-muted">
                                    Floorplanner collaborative design tools allow creators to shift focus
                                    to discovery of their clients needs, and develop building blocks of a 
                                     <b style="color:#555;">social experience</b>. Solidground shields creators from
                                     technical complexity that are inherent to federated services.
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4">
                              <div class="feature-item">
                                  <h3 style="color:#555;">Choreography</h3>
                                  <p class="text-muted">
                                    Taskweave workflows and process recipes provide ability for creators to tailor their
                                    practices to individual preferences. Solidground's 
                                    <b style="color:#555;">component-oriented</b> and participatory
                                    development approach facilitates flexible and extensible solutions.
                                  </p>
                              </div>
                          </div>
                          <div class="col-md-4">
                            <div class="feature-item">
                                <h3 style="color:#555;">Provisioning</h3>
                                <p class="text-muted">
                                  Groundwork integration platform hosts your solutions as they
                                  evolve. Social experience design is an ongoing activity. Solutions are never 'done' and the
                                  Floorplanner and Taskweave tool suite is just a click away to help you
                                  <b style="color:#555;">reimagine social</b>.
                                </p>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
  </section>
