
    <section id="process" class="highlights">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2>Get Started With Solidground Floorplanner</h2>
                  <h3 class="text-muted">An online design space to help create solutions that match people's needs.</h3>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="container-fluid">
                  <img src="/img/artwork/user_avatar_monochromatic2.svg" width="100%"/>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <h3 style="color:#f90;">Discover People's Needs</h3>
                                    <p class="text-muted">Brainstorm together, capture requirements, specify functionality, map the domain.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-item">
                                    <h3 style="color:#060;">Design Your Solution</h3>
                                    <p class="text-muted">Elaborate use cases, define your features, script behavior, and scaffold the code.</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                              <div class="feature-item">
                                  <h3 style="color:#069;">Host your experience</h3>
                                  <p class="text-muted">Implement process steps, polish the user experience, plug into the ecosystem, launch.</p>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12 text-center">
                <a target="_blank" href="https://docs.solidground.work/floorplanner/design.html" style="margin-bottom: 50px;" class="btn btn-outline btn-xl">About Floorplanner</a>
              </div>
          </div>
    </section>
