.heading-font {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.body-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.alt-font {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
  color: #1A1823;
  background-color: #f0f0f0;
}

// Credits: https://moderncss.dev/pure-css-smooth-scroll-back-to-top/
// Smooth scrolling IF user doesn't have a preference due to motion sensitivities
@media screen and (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth;
  }
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: $theme-primary;
  &:hover, &:focus {
    color: #48acf0;
  }
}

hr {
  max-width: 300px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: $theme-primary;
  &.light {
    border-color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: $type-size-4;
  line-height: 1.5;
  margin-bottom: 20px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}


// Credits: https://code-boxx.com/simple-responsive-pure-css-hamburger-menu/
#hamnav {
  width: 100%;
  background-color: #ffffff;
  top: 0;

  margin-bottom: 0;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400;
  letter-spacing: 1px;
  border-color: transparent;
}

#hamnav a {
  color: #ff9900;
}

.navbar-brand {
  font-weight: 700;
  height: 30px;
}

#hamnav label, #hamburger { display: none; }

#hamitems {
  margin-top: 15px;
}
#hamitems a {
  padding: 0 10px;
  color: #006600;
  text-decoration: none;
  text-align: center;

  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: $type-size-5;
}

@media screen and (max-width: 768px){
  #hamnav {
    background-color: #f0f0f0;
    border-color: inherit;
  }

  /* Show Hamburger Icon */
  #hamnav label { 
    float: right;
    display: block; 
    color: #006600;
    font-weight: 400;
    font-size: 1.2em;
    margin-top: 4px;
    padding: 10px 10px 10px 16px;
    border-left: 1px #413c58 inset;
  }

  #hamitems {
    clear: both;
  }

  /* Break down menu items into vertical */
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

  /* Toggle Show/Hide Menu */
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { 
    display: block;
    background-color: #f0f0f0;
  }
}

header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;

  // Credits: https://www.gradientmagic.com/collection/lightbg/gradient/1574607276017
  background-image: linear-gradient(339deg, rgba(47, 47, 47,0.02) 0%, rgba(47, 47, 47,0.02) 42%,transparent 42%, transparent 99%,rgba(17, 17, 17,0.02) 99%, rgba(17, 17, 17,0.02) 100%),linear-gradient(257deg, rgba(65, 65, 65,0.02) 0%, rgba(65, 65, 65,0.02) 11%,transparent 11%, transparent 92%,rgba(53, 53, 53,0.02) 92%, rgba(53, 53, 53,0.02) 100%),linear-gradient(191deg, rgba(5, 5, 5,0.02) 0%, rgba(5, 5, 5,0.02) 1%,transparent 1%, transparent 45%,rgba(19, 19, 19,0.02) 45%, rgba(19, 19, 19,0.02) 100%),linear-gradient(29deg, rgba(28, 28, 28,0.02) 0%, rgba(28, 28, 28,0.02) 33%,transparent 33%, transparent 40%,rgba(220, 220, 220,0.02) 40%, rgba(220, 220, 220,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));

  color: #413c58;
  .header-content {
    text-align: center;
    padding: 150px 0 50px;
    position: relative;
    .header-content-inner {
      position: relative;
      max-width: 500px;
      margin: 0 auto;
      h1 {
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: $type-size-3;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    min-height: 50%;
    .header-content {
      text-align: left;
      padding: 0;
      height: 60vh;
      .header-content-inner {
        max-width: none;
        margin: 0;
        margin-top: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        img {
          max-width: 80%;
        }
        h1 {
          font-size: $type-size-2;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: $hero-type-size;
  }
}

section {
  padding: 40px 0;
  h2 {
    font-size: $hero-type-size;
  }
  &.call-to-action {
    padding: 80px 0;
    position: relative;
    h2 {
      margin-top: 0;
      font-size: $hero-type-size;
    }
  }
  &.highlights {
    .section-heading {
      margin-bottom: 100px;
      h2 {
        margin-top: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    
    .section-post-heading {
      margin-bottom: 100px;
      h2 {
        margin-top: 0;
      }
      p {
        margin-bottom: 0;
      }
    }
    .highlights-container, .feature-item {
      max-width: 80%;
      margin: 0 auto;
    }
    .highlights-container {
      margin-bottom: 100px;
      h3 {
        color: $theme-primary;
      }
    }
    .feature-item {
      text-align: center;
      margin-bottom: 100px;
      h3 {
        font-size: $type-size-2;
      }
      i {
        font-size: 80px;
        background: -webkit-linear-gradient(to left, $head-primary, $head-secondary);
        background: linear-gradient(to left, $head-primary, $head-secondary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &.margin-small {
        margin-bottom: 40px !important;
      }
      .feature-img {
        img {
          text-align: center;
          width: 100%;
        }
      }
    }
  }
  &.cta {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    // background-image: url('../img/bg-cta.jpg');s
    padding: 70px 0 100px 0;
    .cta-content {
      position: relative;
      z-index: 1;
      h2 {
        margin-top: 0;
        margin-bottom: 25px;
        color: #006600;
        max-width: 450px;
        font-size: 50px;
      }
    }
    .overlay {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &.cta-donate {
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/donate.jpg');
    padding: 250px 0;
    .cta-content-donate {
      position: relative;
      z-index: 1;
      h2 {
        margin-top: 0;
        margin-bottom: 25px;
        color: white;
        max-width: 450px;
        font-size: $hero-type-size;
      }
    }
    .overlay-donate {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &.contact {
    text-align: center;
    h2 {
      margin-top: 0;
      margin-bottom: 25px;
      i {
        color: white;
      }
    }
    ul.list-social {
      margin-bottom: 0;
      li {
        a {
          display: block;
          height: 80px;
          width: 80px;
          line-height: 75px;
          font-size: 40px;
          border-radius: 100%;
          color: white;
        }
        &.social-discourse a, &.social-matrix a, &.social-mastodon a, &.social-github a, &.social-codeberg a {
          background-color: #f0f0f0;
          &:hover {
            background-color: #fff;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  section.call-to-action h2 {
    font-size: $hero-type-size * 1.4;
  }
}

@media (min-width: 992px) {
  section.highlights {
    .feature-item {
      max-width: 100%;
    }
  }
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: $hero-type-size * 1.6;
  }
}

footer {
  background-color: #222222;
  padding: 25px 0;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  p {
    font-size: $type-size-6;
    margin: 0;
  }
}

.bg-primary {
  background: $theme-primary;
  background: -webkit-linear-gradient($theme-primary, $theme-secondary);
  background: linear-gradient($theme-primary, $theme-secondary);
}

.text-primary {
  color: $theme-primary;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: #006600;
  border-color: #006600;
  border: 2px solid;
  &:hover, &:focus, &:active, &.active {
    color: white;
    background-color: $theme-primary;
    border-color: $theme-primary;
  }
}

.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 300px;
}

.btn-xl {
  padding: 15px 45px;
  font-size: $type-size-5;
  font-weight: 700;
}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}

img {
  &::selection, &::-moz-selection {
    color: white;
    background: transparent;
  }
}

.no-padding {
    padding: 0;
}

.overview-box-caption.box1 {
  background: $overview-box1;
  &:hover {
    background: lighten($color: $overview-box1, $amount: 10%);
  }
}
.overview-box-caption.box2 {
  background: $overview-box2;
  &:hover {
    background: lighten($color: $overview-box2, $amount: 10%);
  }
}
.overview-box-caption.box3 {
  background: $overview-box3;
  &:hover {
    background: lighten($color: $overview-box3, $amount: 10%);
  }
}
.overview-box-caption.box4 {
  background: $overview-box4;
  &:hover {
    background: lighten($color: $overview-box4, $amount: 10%);
  }
}
.overview-box-caption.box5 {
  background: $overview-box5;
  &:hover {
    background: lighten($color: $overview-box5, $amount: 10%);
  }
}
.overview-box-caption.box6 {
  background: $overview-box6;
  &:hover {
    background: lighten($color: $overview-box6, $amount: 10%);
  }
}

.overview-box {
    position: relative;
    display: block;
    max-width: 650px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    .overview-box-caption {
        color: white;
        display: block;
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 100%;
        @include transition-all;
        .overview-box-caption-content {
            width: 100%;
            text-align: center;
            position: absolute;
            margin-top: 20px;
            .campaign-element,
            .element-description {
                @include sans-serif-font;
                padding: 0 30px;
            }
            .campaign-element {
                text-transform: uppercase;
                font-weight: 500;
                font-size: $type-size-3;
            }
            .element-description {
                margin-top: 10px;
                font-weight: 400;
                font-size: 4.4vw
            }
        }
    }
    &:hover {
        .overview-box-caption {
            opacity: 0.6;
            .overview-box-caption-content .element-description {
              opacity: 0;
            }
        }
    }
    @media (min-width: 768px) {
        .overview-box-caption {
            .overview-box-caption-content {
                .campaign-element {
                    font-size: $type-size-2;
                }
                .element-description {
                    margin-top: 15px;
                    font-size: 1.5vw;
                    padding: 0 60px
                }
            }
        }
    }
}


.value-box i {
  font-size: 80px;
  background: -webkit-linear-gradient(to left, $head-primary, $head-secondary);
  background: linear-gradient(to left, $head-primary, $head-secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// post styles

.intro-header {
  background: no-repeat center center;
  background-color: #808080;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  margin-bottom: 50px;
  .site-heading, .post-heading, .page-heading {
    padding: 100px 0 50px;
    color: white;
  }
  .site-heading, .page-heading {
    text-align: center;
  }
  .site-heading h1, .page-heading h1 {
    margin-top: 0;
    font-size: $hero-type-size;
  }
  .site-heading .subheading, .page-heading .subheading {
    font-size: $type-size-3;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
  }
  .post-heading {
    h1 {
      font-size: $type-size-1;
    }
    .subheading, .meta {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: $type-size-3;
      margin: 10px 0 30px;
      font-weight: 600;
    }
    .meta {
      font-family: 'Lora', 'Times New Roman', serif;
      font-style: italic;
      font-weight: 300;
      font-size: $type-size-4;
      a {
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header {
    .site-heading, .post-heading, .page-heading {
      padding: 150px 0;
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header {
    .site-heading h1, .page-heading h1 {
      font-size: $hero-type-size * 1.6 // was 80px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .intro-header .post-heading {
    h1 {
      font-size: $hero-type-size; // was 55px;
    }
    .subheading {
      font-size: $type-size-2; // was 30px;
    }
  }
}
